* {
  font-family: "Lexend";
  --main1: #243642;
  --main2: #387478;
  --accent1: #629584;
  --accent2: #dcecce;
  --error: #e3546c;
}

html {
  height: 100%;
}

body {
  background-color: #b2dabf;
  margin: 0;
  height: 100%;
  width: 100%;
}

.hidden{
  display: none !important;
}

@keyframes rollout {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes rollin-disappear {
  0% {
    transform: translateY(100px);
  }

  7% {
    transform: translateY(0);
  }

  11% {
    /* scale: 1.1; */
    transform: rotate(1deg);
  }

  12% {
    transform: rotate(-2deg);
  }

  13% {
    transform: rotate(2deg);
  }

  14% {
    transform: rotate(-2deg);
  }

  15% {
    transform: rotate(2deg);
  }

  16% {
    transform: rotate(-1deg);
  }

  17% {
    transform: rotate(0);
  }

  97% {
    transform: translateY(0);
  }

  98% {
    transform: translateY(-100px);
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.roll-out {
  animation: .4s rollout;
}

.error-animation {
  animation: rollin-disappear 5s;
}
