* {
  font-family: "Raleway";
}

body {
  margin: 0;
}

@keyframes rollout {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

.roll-out {
  animation: .4s rollout;
}
