* {
  font-family: "Lexend";
  --main1: #243642;
  --main2: #387478;
  --accent1: #629584;
  --accent2: #E2F1E7;
}


body {
  margin: 0;
}

@keyframes rollout {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

.roll-out {
  animation: .4s rollout;
}
