.post{
    display: flex;
    flex-direction: column;
    width: 30rem;
    overflow: hidden;
    background: var(--main2);
    padding: 1rem;
    border-radius: 1rem;
    gap: 0.5rem;
}

.post-title{
    text-align: center;
    margin: 0;
}

.sketch{
    border-radius: 1rem;
}

.post-buttons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: fit-content;
}

.post-likes{
    color: var(--main1);
    margin: 0;
    text-align: center;
    padding: 0.5rem;
}