.button-default {
  cursor: pointer;
  width: 100%;
}

.button-default:active,
.button-default:hover {}

.button-navbar {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.button-navbar:active,
.button-navbar:hover {
  text-decoration: underline;
}

.button-navbar--highlighted {
  composes: button-navbar;
  color: yellow;
}
