.default {
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  padding: 0.5rem 1rem;
  text-align: center;
  vertical-align: middle;
  font-size: 1rem;
  transition: ease-in-out;
  transition-delay: 75ms;
  transition-duration: 150ms;
  border: solid 2px var(--main1);
  border-radius: 0.3rem;
  color: var(--main1);
  background-color: var(--accent2);
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.default:active,
.default:hover {
  color: var(--accent2);
  background-color: var(--main1);
}

.navbar {
  composes: default;
}

.navbar:active,
.navbar:hover {
  color: var(--main1);
  background-color: var(--accent1);
}

.navbar--highlighted {
  composes: navbar;
  cursor: default;
  background-color: var(--main1);
  color: var(--accent1);
}

.navbar--highlighted:active,
.navbar--highlighted:hover {
  background-color: var(--main1);
  color: var(--accent1);
}

.toolbar {
  border-radius: 100%;
  text-align: center;
  vertical-align: middle;
  aspect-ratio: 1;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  border: none;
  background-color: var(--main1);
  color: var(--accent2);
  transition: all 150ms ease-in-out;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.toolbar:hover,
.toolbar:active {
  background-color: var(--accent2);
  color: var(--main1);
}


.toolbar--highlighted {
  composes: toolbar;
  background-color: var(--main2);
  color: var(--accent2);
}

.toolbar--success {
  composes: toolbar;
  background-color: #4dba41;
}

.toolbar--success:disabled {
  cursor: default;
  background-color: #4dba41;
  color: var(--accent2);
}

.toolbar:disabled {
  cursor: default;
  background-color: #85a89b;
}
