.button-default {
  padding: 2rem;
  background-color: red;
  cursor: pointer;
}

.button-default:active,
.button-default:hover {
  background-color: black;
  color: white
}

.button-navbar {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.button-navbar:active,
.button-navbar:hover {
  text-decoration: underline;
}

.button-navbar--highlighted {
  composes: button-navbar;
  color: yellow;
}
