.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

.label {
  font-weight: 500;
  font-size: 1.5rem;
}

.input-block {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0.5rem;
  background-color: var(--accent1);
  border-radius: 0.2rem;
  overflow: hidden;
  ;
}

.input-field {
  color: var(--main1);
  background-color: inherit;
  border: none;
  font-size: 2rem;
  height: 2rem;
  width: 100%;
  padding: 0.5rem;
}

.input-field:focus {
  outline: none;
}

.show-password-button {
  color: var(--main1);
  padding: 0 1rem 0rem 0rem;
  cursor: pointer;
}
